<div *ngIf="sp" class="profile-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mr-auto">
                <a href="#" class="nav-link" routerLink="/speakers"> Back to WiT Professionals</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <div class="profile">
                    <div class="avatar">
                        <img *ngIf="sp && sp.picture != ''" src="{{sp.picture}}" alt="{{sp.name}} Profile Picture WiG+"
                            class="img-raised rounded-circle img-fluid">
                        <img *ngIf="sp.picture == ''" src="../../../assets/img/logo.png"
                            alt="{{sp.name}} Profile Picture WiG+" class="img-raised rounded-circle img-fluid">
                    </div>
                    <div class="name">
                        <h3 class="title">{{sp.name}}</h3>
                        <h6 class="text-primary">{{sp.position}}</h6>
                        <h6>{{sp.city}}, {{sp.country}}</h6>
                        <div class="card-footer justify-content-center">
                            <a *ngIf="sp.contactLinkedIn" href="{{sp.linkedIn}}" target="_blank"
                                class="btn btn-link btn-just-icon"><i class="fab fa-linkedin-in"></i></a>
                            <a *ngIf="sp.contactTwitter" href="{{sp.twitter}}" target="_blank"
                                class="btn btn-link btn-just-icon"><i class="fab fa-twitter"></i></a>
                            <a *ngIf="sp.contactEmail" href="javascript:;" (click)="sendEmail(sp.email)"
                                class="btn btn-link btn-just-icon"><i class="fa fa-envelope"></i></a>
                            <a *ngIf="sp.webpage != '' && sp.webpage != null" href="{{sp.webpage}}" target="_blank"
                                class="btn btn-link btn-just-icon"><i class="fas fa-globe-americas"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="description text-center">
            <p>{{sp.bio}}</p>
        </div>

        <div class="row text-center">
            <div class="col-md-6 ml-auto mr-auto">
                <h6>Sector(s)</h6>
                <div *ngFor="let s of sp.sector | keyvalue">
                    <div *ngIf="s.value && s.key == 'professionalDriver'">Professional Driver specify(Truck, Matatus, Bus, BRT , Ambulance)</div>
                    <div *ngIf="s.value && s.key == 'professionalRider'">Professional Riders Specify(Bicycle, Motorcycle, TukTuk/Rickshaws)</div>
                    <div *ngIf="s.value && s.key == 'plantOperator'">Plant operator(excavator, harvester)</div>
                    <div *ngIf="s.value && s.key == 'conductor'">Professional conductor</div>
                    <div *ngIf="s.value && s.key == 'captain'">Captain Specify(Ship,Plane,train)</div>
                    <div *ngIf="s.value && s.key == 'saccoManager'">Fleet/Sacco Manager</div>
                    <div *ngIf="s.value && s.key == 'stageManager'">Stage Manager</div>
                    <div *ngIf="s.value && s.key == 'clerk'">Stage Clerk</div>
                    <div *ngIf="s.value && s.key == 'courierProvider'">Courier Service Provider</div>
                    <div *ngIf="s.value && s.key == 'driverInstructor'">Drivers Instructor</div>
                    <div *ngIf="s.value && s.key == 'conductorInstructor'">Conductors Instructor</div>
                    <div *ngIf="s.value && s.key == 'mechanic'">Mechanic</div>
                    <div *ngIf="s.value && s.key == 'civilEng'">Civil Engineer</div>
                    <div *ngIf="s.value && s.key == 'urban'">Urban Planner</div>
                    <div *ngIf="s.value && s.key == 'trainer'">Trainer(First Aid, Road Safety, Customer Service, Gender Mainstreaming, CV writing, Disability sensitization, Mental Health, SRHR, Women rights, Financial Literacy….)</div>
                    <div *ngIf="s.value && s.key == 'leadandMentor'">Women In Transport Leadership & Mentorship</div>
                    <div *ngIf="s.value && s.key == 'confSpeaker'">Women In Transport Africa Conference Speaker</div>
                    <div *ngIf="s.value && s.key == 'policy'">Researcher and Policy practitioner</div>
                    <div *ngIf="s.value && s.key == 'telphoneDev'">Software Telephone Developer</div>
                    <div *ngIf="s.value && s.key == 'autoManufacture'">Automotive manufacturer</div>
                    <div *ngIf="s.value && s.key == 'other'">Other: {{sp.otherSector}}</div>
                </div>
            </div>
            <div class="col-md-6 ml-auto mr-auto">
                <h6> {{sp.years}} of experience</h6>
                <h6> Career level {{sp.level}}</h6>

            </div>
        </div>

        
        <div class="row text-center">
            <div class="col-md-12 ml-auto mr-auto">
                <h6>Domains of expertise</h6>
                <span *ngFor="let d of sp.domain | keyvalue">
                    <span *ngIf="d.value">{{domainText[d.key]}} | </span>
                </span>
                <span *ngFor="let od of sp.otherDomains">
                    <span>{{od}} | </span>
                </span>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-12 ml-auto mr-auto">
                <h6>I can present in </h6>
                <span *ngFor="let lan of sp.languages">
                    {{lan}}
                </span>
            </div>
        </div>

        <div *ngIf="sp.qualifications && sp.qualifications != ''" class="row text-center">
            <div class="col-md-12 ml-auto mr-auto">
                <h6>My qualifications </h6>
                <p>{{sp.qualifications}}</p>
            </div>
        </div>
        <div *ngIf="sp.speakingExperience && sp.speakingExperience != ''" class="row text-center">
            <div class="col-md-12 ml-auto mr-auto">
                <h6>My speaking experince </h6>
                <p>{{sp.speakingExperience}}</p>
            </div>
        </div>

        <br>
        <br>
        <br>



        <!--         <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <div class="profile-tabs">
                    <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                                <i class="material-icons">camera</i> Studio
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                                <i class="material-icons">palette</i> Work
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                                <i class="material-icons">favorite</i> Favorite
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div> -->

    </div>
</div>