<div [hidden]="selectedSpeaker"
    *ngIf="this.spService && this.spService.speakersList && this.spService.speakersList.length > 0"
    class="section text-center">
    <h2>Find your WiT Professional here (total: {{this.spService.filteredSpeakersList.length}})</h2>
    <div>
        <ul class="nav nav-pills nav-pills-primary nav-pills-icons justify-content-center" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#mapPane" role="tab" data-toggle="tab">
                    <i class="material-icons">map</i>
                    Map
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#listPane" role="tab" data-toggle="tab">
                    <i class="material-icons">dashboard</i>
                    List
                </a>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-3 text-left">
            <div class="form-group">
                <label class="heading" for="searchText">Filter results by text</label>
                <input type="text" class="form-control" id="searchText" placeholder="Search in name, bio, position ..."
                    [(ngModel)]="textSearch" (keyup)="filterAll()">
            </div>
            <button type="button" class="btn btn-link btn-xs btn-chevron"
                (click)="showSE.classList.contains('hidden') ? showSE.className = '' : showSE.className = 'hidden' ">
                <i [ngClass]="showSE.classList.contains('hidden')? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
        
            <label class="heading" for="sector">&nbsp; Filter by sector</label>
        </button>
            <div #showSE>
                <div class="form-check ">
                    <label class="form-check-label">
                        <input class="form-check-input" name="sector" id="sector1" type="checkbox"
                            value="Professional Driver specify(Truck, Matatus, Bus, BRT , Ambulance)" [checked]="searchSector.professionalDriver"
                            (change)="searchSector.professionalDriver = !searchSector.professionalDriver; filterAll()">
                            Professional Driver specify(Truck, Matatus, Bus, BRT , Ambulance)
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" name="sector" id="sector2" type="checkbox"
                            value="Professional Riders Specify(Bicycle, Motorcycle, TukTuk/Rickshaws)" [checked]="searchSector.professionalRider"
                            (change)="searchSector.professionalRider = !searchSector.professionalRider; filterAll()">
                            Professional Riders Specify(Bicycle, Motorcycle, TukTuk/Rickshaws)
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" name="sector" id="sector3" type="checkbox"
                            value=" Plant operator(excavator, harvester)"
                            [checked]="searchSector.plantOperator" (change)="searchSector.plantOperator = !searchSector.plantOperator; filterAll()">
                            Plant operator(excavator, harvester)
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" name="sector" id="sector4" type="checkbox"
                            value="Professional conductor" [checked]="searchSector.conductor"
                            (change)="searchSector.conductor = !searchSector.conductor; filterAll()">
                            Professional conductor
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
                <div class="form-check form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input" name="sector" id="sector5" type="checkbox"
                            value="Captain Specify(Ship,Plane,train)" [checked]="searchSector.captain"
                            (change)="searchSector.captain = !searchSector.captain; filterAll()">
                            Captain Specify(Ship,Plane,train)
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" name="sector" id="sector6" type="checkbox"
                            value="Fleet/Sacco Manager" [checked]="searchSector.saccoManager"
                            (change)="searchSector.saccoManager = !searchSector.saccoManager; filterAll()">
                            Fleet/Sacco Manager
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
            
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" name="sector" id="sector6" type="checkbox"
                        value="Stage Manager" [checked]="searchSector.stageManager"
                        (change)="searchSector.stageManager = !searchSector.stageManager; filterAll()">
                        Stage Manager
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
        
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" name="sector" id="sector6" type="checkbox"
                    value="Stage Clerk" [checked]="searchSector.clerk"
                    (change)="searchSector.clerk = !searchSector.clerk; filterAll()">
                    Stage Clerk
                <span class="form-check-sign">
                    <span class="check"></span>
                </span>
            </label>
        </div>
    
    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" name="sector" id="sector6" type="checkbox"
                value="Courier Service Provider" [checked]="searchSector.courierProvider"
                (change)="searchSector.courierProvider = !searchSector.courierProvider; filterAll()">
                Courier Service Provider
            <span class="form-check-sign">
                <span class="check"></span>
            </span>
        </label>
    </div>

<div class="form-check">
    <label class="form-check-label">
        <input class="form-check-input" name="sector" id="sector6" type="checkbox"
            value="Drivers Instructor" [checked]="searchSector.driverInstructor"
            (change)="searchSector.driverInstructor = !searchSector.driverInstructor; filterAll()">
            Drivers Instructor
        <span class="form-check-sign">
            <span class="check"></span>
        </span>
    </label>
</div>

<div class="form-check">
    <label class="form-check-label">
        <input class="form-check-input" name="sector" id="sector6" type="checkbox"
            value="Conductors Instructor" [checked]="searchSector.conductorInstructor"
            (change)="searchSector.conductorInstructor = !searchSector.conductorInstructor; filterAll()">
            Conductors Instructor
        <span class="form-check-sign">
            <span class="check"></span>
        </span>
    </label>
</div>

<div class="form-check">
    <label class="form-check-label">
        <input class="form-check-input" name="sector" id="sector6" type="checkbox"
            value="Mechanic" [checked]="searchSector.mechanic"
            (change)="searchSector.mechanic = !searchSector.mechanic; filterAll()">
            Mechanic
        <span class="form-check-sign">
            <span class="check"></span>
        </span>
    </label>

</div>
<div class="form-check">
    <label class="form-check-label">
        <input class="form-check-input" name="sector" id="sector6" type="checkbox"
            value="Civil Engineer" [checked]="searchSector.civilEng"
            (change)="searchSector.civilEng = !searchSector.civilEng; filterAll()">
            Civil Engineer
        <span class="form-check-sign">
            <span class="check"></span>
        </span>
    </label>

</div>
<div class="form-check">
    <label class="form-check-label">
        <input class="form-check-input" name="sector" id="sector6" type="checkbox"
            value="Urban Planner" [checked]="searchSector.urban"
            (change)="searchSector.urban = !searchSector.urban; filterAll()">
            Urban Planner
        <span class="form-check-sign">
            <span class="check"></span>
        </span>
    </label>
</div>

<div class="form-check">
    <label class="form-check-label">
        <input class="form-check-input" name="sector" id="sector6" type="checkbox"
            value="Trainer(First Aid, Road Safety, Customer Service, Gender Mainstreaming, CV writing, Disability sensitization,
             Mental Health, SRHR, Women rights, Financial Literacy….)" [checked]="searchSector.trainer"
            (change)="searchSector.trainer = !searchSector.trainer; filterAll()">
            Trainer(First Aid, Road Safety, Customer Service, Gender Mainstreaming, CV writing, Disability sensitization, 
            Mental Health, SRHR, Women rights, Financial Literacy….)
        <span class="form-check-sign">
            <span class="check"></span>
        </span>
    </label>
</div>

<div class="form-check">
    <label class="form-check-label">
        <input class="form-check-input" name="sector" id="sector6" type="checkbox"
            value="Women In Transport Leadership & Mentorship" [checked]="searchSector.leadandMentor"
            (change)="searchSector.leadandMentor = !searchSector.leadandMentor; filterAll()">
            Women In Transport Leadership & Mentorship
        <span class="form-check-sign">
            <span class="check"></span>
        </span>
    </label>

</div>
<div class="form-check">
    <label class="form-check-label">
        <input class="form-check-input" name="sector" id="sector6" type="checkbox"
            value="Women In Transport Africa Conference Speaker" [checked]="searchSector.confSpeaker"
            (change)="searchSector.confSpeaker = !searchSector.confSpeaker; filterAll()">
            Women In Transport Africa Conference Speaker
        <span class="form-check-sign">
            <span class="check"></span>
        </span>
    </label>

</div>
<div class="form-check">
    <label class="form-check-label">
        <input class="form-check-input" name="sector" id="sector6" type="checkbox"
            value="Researcher and Policy practitioner" [checked]="searchSector.policy"
            (change)="searchSector.policy = !searchSector.policy; filterAll()">
            Researcher and Policy practitioner
        <span class="form-check-sign">
            <span class="check"></span>
        </span>
    </label>
</div>

<div class="form-check">
    <label class="form-check-label">
        <input class="form-check-input" name="sector" id="sector6" type="checkbox"
            value="Software Telephone Developer" [checked]="searchSector.telphoneDev"
            (change)="searchSector.telphoneDev = !searchSector.telphoneDev; filterAll()">
            Software Telephone Developer
        <span class="form-check-sign">
            <span class="check"></span>
        </span>
    </label>

</div>
<div class="form-check">
    <label class="form-check-label">
        <input class="form-check-input" name="sector" id="sector6" type="checkbox"
            value="Automotive manufacturer" [checked]="searchSector.autoManufacture"
            (change)="searchSector.autoManufacture = !searchSector.autoManufacture; filterAll()">
            Automotive manufacturer
        <span class="form-check-sign">
            <span class="check"></span>
        </span>
    </label>

</div>

            <br>
            <button type="button" class="btn btn-link btn-xs btn-chevron"
                (click)="showYE.classList.contains('hidden') ? showYE.className = '' : showYE.className = 'hidden' ">
                <i [ngClass]="showYE.classList.contains('hidden')? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
           
            <label class="heading" for="experience">&nbsp; Filter by years of work experience</label>
            </button>
            <div #showYE>
                <div class="form-check form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input" name="experience" id="experience1" type="radio"
                            value="0 - 5 years" (change)="filterAll()" [(ngModel)]="textYears">
                        0 - 5 years
                        <span class="circle">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
                <div class="form-check form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input" name="experience" id="experience2" type="radio"
                            value="5 - 10 years" (change)="filterAll()" [(ngModel)]="textYears">
                        5 - 10 years
                        <span class="circle">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
                <div class="form-check form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input" name="experience" id="experience3" type="radio"
                            value="10 - 20 years" (change)="filterAll()" [(ngModel)]="textYears">
                        10 - 20 years
                        <span class="circle">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
                <div class="form-check form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input" name="experience" id="experience4" type="radio"
                            value="20 + years " (change)="filterAll()" [(ngModel)]="textYears">
                        20 + years
                        <span class="circle">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
            </div>
            <br>
            <button type="button" class="btn btn-link btn-xs btn-chevron"
                (click)="showLE.classList.contains('hidden') ? showLE.className = '' : showLE.className = 'hidden' ">
                <!-- [tooltip]="showLO.classList.contains('hidden')? 'Show' : 'Hide'" -->
                <i [ngClass]="showLE.classList.contains('hidden')? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
          
            <label class="heading" for="level">&nbsp; Filter by career level</label>
            </button>
            <div #showLE>
                <div class="form-check form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input" name="level" id="level1" type="radio" value="Early-career"
                            (change)="filterAll()" [(ngModel)]="textLevel">
                        Early-career
                        <span class="circle">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
                <div class="form-check form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input" name="level" id="level2" type="radio" value="Mid-level"
                            (change)="filterAll()" [(ngModel)]="textLevel">
                        Mid-level
                        <span class="circle">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
                <div class="form-check form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input" name="level" id="level3" type="radio" value="Senior-level"
                            (change)="filterAll()" [(ngModel)]="textLevel">
                        Senior-level
                        <span class="circle">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
            </div>
            <br>

           
            
           <!--          <span *ngFor="let arChild of ar.value | keyvalue">
                        <label *ngIf="typeOf(areasText[ar.key][arChild.key]) === 'string'" class="form-check-label">
                            <input class="form-check-input" name="area" type="checkbox" [checked]="ar.value"
                                (change)="searchAreas[ar.key][arChild.key] = !arChild.value; filterAll()">
                            {{areasText [ar.key][arChild.key]}}
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </span> -->

              
            <br>

            <button type="button" class="btn btn-link btn-xs btn-chevron"
                (click)="showDO.classList.contains('hidden') ? showDO.className = '' : showDO.className = 'hidden' ">
                <!-- [tooltip]="showLO.classList.contains('hidden')? 'Show' : 'Hide'" -->
                <i [ngClass]="showDO.classList.contains('hidden')? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
        
            <label class="heading" for="level">&nbsp; Filter by domain of expertise</label>
            </button>
            <div #showDO class="hidden">

                <div *ngFor="let dom of searchDomain | keyvalue" class="form-check form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input" name="domain" type="checkbox" [checked]="dom.value"
                            (change)="searchDomain[dom.key] = !dom.value; filterAll()">
                        {{domainText [dom.key]}}
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
            </div>


            <br>
            <button type="button" class="btn btn-link btn-xs btn-chevron"
                (click)="showLAN.classList.contains('hidden') ? showLAN.className = '' : showLAN.className = 'hidden' ">
                <i [ngClass]="showLAN.classList.contains('hidden')? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
           
            <label class="heading" for="experience">&nbsp; Filter by presenting language</label>
            </button>
            <div #showLAN>
                <div class="form-group">
                    <ng-select class="text-sm" [items]="languages" [multiple]="false" appendTo="body" name="languages"
                        [(ngModel)]="searchLanguages" (change)="filterAll()"></ng-select>
                </div>
            </div>
        </div>
        <div class="col-md-9">

            <div class="tab-content tab-space">
                <div class="tab-pane active" id="mapPane">

                    <div style="height: 600px;">

                        <mgl-map [style]="'mapbox://styles/mapbox/streets-v9'" [zoom]="[1]" [center]="[0, 0]">
                            <!-- Zoom controls -->
                            <mgl-control mglNavigation position="top-left"> </mgl-control>

                            <!-- Geolocation control -->
                            <!--      <mgl-control mglGeolocate position="top-left" [positionOptions]="{
                                                                enableHighAccuracy: true
                                                             }" [trackUserLocation]="true">
                            </mgl-control> -->



                            <mgl-control class="search-box" mglGeocoder (result)="onGeocoderResult($event)"
                                types="address"></mgl-control>

                            <mgl-geojson-source id="wigs-source" [cluster]="true" [clusterMaxZoom]="14"
                                [clusterRadius]="50">
                                <!-- [data]="this.spService.featureCollection" -->


                                <!--  <mgl-layer
                            id="clusters"
                            type="circle"
                            source="wigs-source"
                            [filter]="['has', 'point_count']"
                            [paint]="{
                              'circle-color': {
                                property: 'point_count',
                                type: 'interval',
                                stops: [
                                  [0, '#51bbd6'],
                                  [100, '#f1f075'],
                                  [750, '#f28cb1']
                                ]
                              },
                              'circle-radius': {
                                property: 'point_count',
                                type: 'interval',
                                stops: [
                                  [0, 20],
                                  [100, 30],
                                  [750, 40]
                                ]
                              }
                            }"
                          >
                          </mgl-layer>
                          <mgl-layer
                            id="cluster-count"
                            type="symbol"
                            source="wigs-source"
                            [filter]="['has', 'point_count']"
                            [layout]="{
                              'text-field': '{point_count_abbreviated}',
                              'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
                              'text-size': 12
                            }"
                          >
                          </mgl-layer>
                          <mgl-layer
                            id="unclustered-point"
                            type="circle"
                            source="wigs-source"
                            [filter]="['!has', 'point_count']"
                            [paint]="{
                              'circle-color': '#11b4da',
                              'circle-radius': 4,
                              'circle-stroke-width': 1,
                              'circle-stroke-color': '#fff'
                            }"
                          >
                          </mgl-layer>  -->

                                <mgl-feature *ngFor="let sp of spService.filteredSpeakersList">
                                    <div
                                        *ngIf="sp.geoFeature && sp.geoFeature.geometry && sp.geoFeature.geometry.coordinates">
                                        <mgl-marker #myMarker
                                            [lngLat]="sp.geoFeature != null? sp.geoFeature.geometry.coordinates : [0,0]"
                                            anchor="bottom">
                                            <div [ngStyle]="{
                                                'background-image': 'url(https://firebasestorage.googleapis.com/v0/b/speakerswig.appspot.com/o/map%2Fpin.png?alt=media&token=d29343d0-2d30-42b5-8bb3-24a5f22ba8f4)',
                                                'background-size': 'cover',
                                                width: '41px',
                                                height: '50px',
                                                cursor: 'pointer'
                                              }"></div>
                                        </mgl-marker>
                                        <mgl-popup [marker]="myMarker">
                                            <div class="card card-plain text-center">
                                                <div class="col-md-4 ml-auto mr-auto">
                                                    <img *ngIf="sp.picture != ''" src="{{sp.picture}}" loading="lazy"
                                                        alt="{{sp.name}} Profile Picture WiG+"
                                                        class="img-raised rounded-circle img-fluid">
                                                    <img *ngIf="sp.picture == ''" src="../../../assets/img/logo.png"
                                                        alt="{{sp.name}} Profile Picture WiG+"
                                                        class="img-raised rounded-circle img-fluid">
                                                </div>
                                                <h6 class="card-title"> {{sp.name}}
                                                    <br>
                                                    <small class="card-description text-muted small">
                                                        {{sp.position}}</small>
                                                </h6>
                                                <a (click)="seeProfile(sp.id)" class="text-primary">See complete
                                                    profile</a>
                                                <div class="card-footer justify-content-center">
                                                    <a *ngIf="sp.contactLinkedIn" href="{{sp.linkedIn}}" target="_blank"
                                                        class="btn btn-link btn-just-icon"><i
                                                            class="fab fa-linkedin-in"></i></a>
                                                    <a *ngIf="sp.contactTwitter" href="{{sp.twitter}}" target="_blank"
                                                        class="btn btn-link btn-just-icon"><i
                                                            class="fab fa-twitter"></i></a>
                                                    <a *ngIf="sp.contactEmail"
                                                        href="mailto:{{sp.email}}subject=WiG+ speaker"
                                                        class="btn btn-link btn-just-icon"><i
                                                            class="fa fa-envelope"></i></a>
                                                    <a *ngIf="sp.webpage != '' && sp.webpage != null" target="_blank"
                                                        href="{{sp.webpage}}" class="btn btn-link btn-just-icon"><i
                                                            class="fas fa-globe-americas"></i></a>
                                                </div>
                                            </div>
                                        </mgl-popup>
                                    </div>
                                </mgl-feature>

                            </mgl-geojson-source>
                        </mgl-map>

                    </div>
                </div>

                <div class="tab-pane" id="listPane">
                    <div class="row">
                        <div *ngFor="let sp of this.spService.filteredSpeakersList | slice:paginationLimitFrom:paginationLimitTo; let i=index"
                            class="col-md-3">
                            <div class="team-player">
                                <div class="card card-plain">
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <img *ngIf="sp.picture != ''" src="{{sp.picture}}" loading="lazy"
                                            alt="{{sp.name}} Profile Picture WiG+"
                                            class="img-raised rounded-circle img-fluid">
                                        <img *ngIf="sp.picture == ''" src="../../../assets/img/logo.png"
                                            alt="{{sp.name}} Profile Picture WiG+"
                                            class="img-raised rounded-circle img-fluid">
                                    </div>
                                    <h4 class="card-title"> {{sp.name}}
                                        <br>
                                        <small class="card-description text-muted"> {{sp.position}}</small>
                                    </h4>
                                    <div class="card-body">
                                        <p class="card-description">{{sp.bio | slice:0:200}}...</p>
                                        <!--  <a routerLink="/speakers/{{ sp.id }}" href="#">See complete profile</a>-->
                                        <a (click)="seeProfile(sp.id)" class="text-primary">See complete profile</a>
                                    </div>
                                    <div class="card-footer justify-content-center">
                                        <a *ngIf="sp.contactLinkedIn" href="{{sp.linkedIn}}" target="_blank"
                                            class="btn btn-link btn-just-icon"><i class="fab fa-linkedin-in"></i></a>
                                        <a *ngIf="sp.contactTwitter" href="{{sp.twitter}}" target="_blank"
                                            class="btn btn-link btn-just-icon"><i class="fab fa-twitter"></i></a>
                                        <a *ngIf="sp.contactEmail" href="javascript:;" (click)="sendEmail(sp.email)"
                                            class="btn btn-link btn-just-icon"><i class="fa fa-envelope"></i></a>
                                        <a *ngIf="sp.webpage != '' && sp.webpage != null" href="{{sp.webpage}}"
                                            target="_blank" class="btn btn-link btn-just-icon"><i
                                                class="fas fa-globe-americas"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="this.spService.filteredSpeakersList" class="row">
                        <div class="col-md-6 ml-auto mr-auto">
                            <nav aria-label="pagination">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:;" (click)="previousPage()">Previous</a>
                                    </li>
                                    <li *ngFor="let page of range(this.spService.filteredSpeakersList.length/LIMIT_PER_PAGE, 0)"
                                        class="page-item" [ngClass]="currentPage == page? 'active': ''">
                                        <a class="page-link" href="javascript:;"
                                            (click)="currentPage=page; paginationLimitFrom=page*LIMIT_PER_PAGE; paginationLimitTo=page*LIMIT_PER_PAGE+LIMIT_PER_PAGE ">{{page+1}}
                                            <span *ngIf="currentPage == page" class="sr-only">(current)</span>
                                        </a></li>

                                    <li class="page-item">
                                        <a class="page-link" href="javascript:;" (click)="nextPage()">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Single Speaker details -->
<div *ngIf="selectedSpeaker" class="profile-content">
    <div class="container">
        <div class="row">
            <div class="col-md-3 ml-auto text-right">
                <button (click)="selectedSpeaker = null" type="button" class="btn btn-fab btn-round btn-primary">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <div class="profile">
                    <div class="avatar">
                        <img *ngIf="selectedSpeaker && selectedSpeaker.picture != ''" src="{{selectedSpeaker.picture}}"
                            loading="lazy" alt="{{selectedSpeaker.name}} Profile Picture WiG+"
                            class="img-raised rounded-circle img-fluid">
                        <img *ngIf="selectedSpeaker.picture == ''" src="../../../assets/img/logo.png"
                            alt="{{selectedSpeaker.name}} Profile Picture WiG+"
                            class="img-raised rounded-circle img-fluid">
                    </div>
                    <div class="name">
                        <h3 class="title">{{selectedSpeaker.name}}</h3>
                        <h6 class="text-primary">{{selectedSpeaker.position}}</h6>
                        <h6>{{selectedSpeaker.city}}, {{selectedSpeaker.country}}</h6>
                        <div class="card-footer justify-content-center">
                            <a *ngIf="selectedSpeaker.contactLinkedIn" href="{{selectedSpeaker.linkedIn}}"
                                target="_blank" class="btn btn-link btn-just-icon"><i
                                    class="fab fa-linkedin-in"></i></a>
                            <a *ngIf="selectedSpeaker.contactTwitter" href="{{selectedSpeaker.twitter}}" target="_blank"
                                class="btn btn-link btn-just-icon"><i class="fab fa-twitter"></i></a>
                            <a *ngIf="selectedSpeaker.contactEmail" href="javascript:;"
                                (click)="sendEmail(selectedSpeaker.email)" class="btn btn-link btn-just-icon"><i
                                    class="fa fa-envelope"></i></a>
                            <a *ngIf="selectedSpeaker.webpage != '' && selectedSpeaker.webpage != null"
                                href="{{selectedSpeaker.webpage}}" target="_blank" class="btn btn-link btn-just-icon"><i
                                    class="fas fa-globe-americas"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="description text-center">
            <p>{{selectedSpeaker.bio}}</p>
        </div>

        <div class="row text-center">
            <div class="col-md-6 ml-auto mr-auto">
                <h6>Sector(s)</h6>
                <div *ngFor="let s of selectedSpeaker.sector | keyvalue">
                    <div *ngIf="s.value && s.key == 'private'">Private Company</div>
                    <div *ngIf="s.value && s.key == 'public'">Public sector / Government</div>
                    <div *ngIf="s.value && s.key == 'ngo'">Non-governmental organisation (NGO) / Not-For-Profit
                        organisation</div>
                    <div *ngIf="s.value && s.key == 'self'">Self-employed / Consulting</div>
                    <div *ngIf="s.value && s.key == 'university'">University / Academia</div>
                    <div *ngIf="s.value && s.key == 'international'">International organisation</div>
                    <div *ngIf="s.value && s.key == 'other'">Other: {{selectedSpeaker.otherSector}}</div>
                </div>
            </div>
            <div class="col-md-6 ml-auto mr-auto">
                <h6> {{selectedSpeaker.years}} of experience</h6>
                <h6> Career level {{selectedSpeaker.level}}</h6>

            </div>
        </div>

        
        <div class="row text-center">
            <div class="col-md-12 ml-auto mr-auto">
                <h6>Domains of expertise</h6>
                <span *ngFor="let d of selectedSpeaker.domain | keyvalue">
                    <span *ngIf="d.value">{{domainText[d.key]}} | </span>
                </span>
                <span *ngFor="let od of selectedSpeaker.otherDomains">
                    <span>{{od}} | </span>
                </span>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-12 ml-auto mr-auto">
                <h6>I can present in </h6>
                <span *ngFor="let lan of selectedSpeaker.languages">
                    {{lan}}
                </span>
            </div>
        </div>

        <div *ngIf="selectedSpeaker.qualifications && selectedSpeaker.qualifications != ''" class="row text-center">
            <div class="col-md-12 ml-auto mr-auto">
                <h6>My qualifications </h6>
                <p>{{selectedSpeaker.qualifications}}</p>
            </div>
        </div>
        <div *ngIf="selectedSpeaker.speakingExperience && selectedSpeaker.speakingExperience != ''"
            class="row text-center">
            <div class="col-md-12 ml-auto mr-auto">
                <h6>My speaking experince </h6>
                <p>{{selectedSpeaker.speakingExperience}}</p>
            </div>
        </div>

        <br>
        <br>
        <br>

    </div>
</div>