<div *ngIf="this.spService && this.spService.speakersList && this.spService.speakersList.length > 0" class="section text-center">
    <h2>Find your WiG+ speaker here (total: {{this.spService.speakersList.length}})</h2>

    <div>

        <button class="btn btn-primary btn-lg" (click)="displayMap = true"> <i class="material-icons">map</i> Map</button>
        <button class="btn btn-primary btn-lg" (click)="displayMap = false"> List <i class="material-icons">list</i></button>

    </div>


    <div *ngIf="displayMap">
        <div id="map" class="map-container" > </div>

    </div>


    <div *ngIf="!displayMap" class="team">
        <div>
            <!-- *ngIf="speakersList && speakersList.length > 0" -->
            <div class="row">
                <div *ngFor="let sp of this.spService.speakersList; index as i;" class="col-md-3">

                    <div class="team-player">
                        <div class="card card-plain">
                            <div class="col-md-6 ml-auto mr-auto">
                                <img *ngIf="sp.picture != ''" src="{{sp.picture}}"
                                    alt="{{sp.name}} Profile Picture WiG+" class="img-raised rounded-circle img-fluid">
                                <img *ngIf="sp.picture == ''" src="../../../assets/img/logo.png"
                                    alt="{{sp.name}} Profile Picture WiG+" class="img-raised rounded-circle img-fluid">
                            </div>
                            <h4 class="card-title"> {{sp.name}}
                                <br>
                                <small class="card-description text-muted"> {{sp.position}}</small>
                            </h4>
                            <div class="card-body">
                                <p class="card-description">{{sp.bio | slice:0:200}}...</p>
                                <a routerLink="/speaker/{{ sp.id }}" href="#">See complete profile</a>
                            </div>
                            <div class="card-footer justify-content-center">
                                <a *ngIf="sp.contactLinkedIn" href="{{sp.linkedIn}}"
                                    class="btn btn-link btn-just-icon"><i class="fab fa-linkedin-in"></i></a>
                                <a *ngIf="sp.contactTwitter" href="{{sp.twitter}}" class="btn btn-link btn-just-icon"><i
                                        class="fab fa-twitter"></i></a>
                                <a *ngIf="sp.contactEmail" href="mailto:{{sp.email}}subject=WiG+ speaker"
                                    class="btn btn-link btn-just-icon"><i class="fa fa-envelope"></i></a>
                                <a *ngIf="sp.webpage != '' && sp.webpage != null" href="{{sp.webpage}}"
                                    class="btn btn-link btn-just-icon"><i class="fas fa-globe-americas"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>