<!-- <div class="footer text-right">
    <a href="#" class="btn btn-primary btn-round btn-wd btn-lg" (click)="logOut()">Log out</a>
</div> -->
<h2 class="title">Registration Form</h2>
<p class="description text-center"> The following data will be used to create your speakers profile. The data you
    provide (your email address excluded) will be accessible and searchable for everyone.</p>
<p class="description text-center text-danger"> {{errorGDPR}}</p>
<p class="description text-center text-success"> {{savedTxt}}</p>
<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model.name">
    </div>

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email"
            [(ngModel)]="model.email">
    </div>

    <div class="form-group">
        <label for="position">Position</label>
        <input type="text" class="form-control" id="position" name="position" [(ngModel)]="model.position">
    </div>

    <div class="row form-group">
        <div class="col-md-8">
            <label for="sector">What work sector do you work in?</label>
            <div class="form-check ">
                <label class="form-check-label">
                    <input class="form-check-input" name="sector" id="sector1" type="checkbox" value="Private Company"
                        [checked]="model.sector.private" (change)="model.sector.private = !model.sector.private">
                    Private Company
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" name="sector" id="sector2" type="checkbox"
                        value="Public sector / Government" [checked]="model.sector.public"
                        (change)="model.sector.public = !model.sector.public">
                    Public sector / Government
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" name="sector" id="sector3" type="checkbox"
                        value="Non-governmental organisation (NGO) / Not-For-Profit organisation"
                        [checked]="model.sector.ngo" (change)="model.sector.ngo = !model.sector.ngo">
                    Non-governmental organisation (NGO) / Not-For-Profit organisation
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" name="sector" id="sector4" type="checkbox"
                        value="Self-employed / Consulting" [checked]="model.sector.self"
                        (change)="model.sector.self = !model.sector.self">
                    Self-employed / Consulting
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" name="sector" id="sector5" type="checkbox"
                        value="University / Academia" [checked]="model.sector.university"
                        (change)="model.sector.university = !model.sector.university">
                    University / Academia
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" name="sector" id="sector6" type="checkbox"
                        value="International organisation" [checked]="model.sector.international"
                        (change)="model.sector.international = !model.sector.international">
                    International organisation
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" name="sector" id="sector6" type="checkbox"
                                value="International organisation" [checked]="model.sector.other"
                                (change)="model.sector.other = !model.sector.other">
                            Other (specify)
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="otherSector" name="otherSector"
                        [(ngModel)]="model.otherSector" [hidden]="!model.sector.other">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <label for="experience">Years of experience</label>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" name="experience" id="experience1" type="radio" value="0 - 5 years"
                        [(ngModel)]="model.years">
                    0 - 5 years
                    <span class="circle">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" name="experience" id="experience2" type="radio" value="5 - 10 years"
                        [(ngModel)]="model.years">
                    5 - 10 years
                    <span class="circle">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" name="experience" id="experience3" type="radio"
                        value="10 - 20 years" [(ngModel)]="model.years">
                    10 - 20 years
                    <span class="circle">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" name="experience" id="experience4" type="radio" value="20 + years "
                        [(ngModel)]="model.years">
                    20 + years
                    <span class="circle">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="bio">Bio</label>
        <textarea class="form-control"
            placeholder="Hint: an outstanding bio is short and precise. Try to explain your professional experiences two sentences or less."
            id="bio" rows="3" name="bio" [(ngModel)]="model.bio"></textarea>
    </div>

    <div class="form-group">
        <label for="webpage">Webpage</label>
        <input type="text" class="form-control" id="webpage" name="webpage" [(ngModel)]="model.webpage">
    </div>

    <div class="form-group">
        <label for="region">Choose the world region you are coming from</label>
        <ng-select [items]="region" [multiple]="false" appendTo="body" name="region" placeholder="Select region..."
            [(ngModel)]="model.region"></ng-select>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="country">What country do you currently reside?</label>
                <input type="text" class="form-control" id="country" name="country" [(ngModel)]="model.country">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="city">What city do you currently reside?</label>
                <input type="text" class="form-control" id="city" name="city" [(ngModel)]="model.city">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="areas">Areas of expertise</label>
        <ng-select [items]="areas" [multiple]="true" appendTo="body" bindLabel="full" groupBy="group" name="areas"
            placeholder="Select areas..." [(ngModel)]="model.areas"></ng-select>
    </div>
    <div style="display: inline" *ngFor="let a of model.otherAreas">
        <button class="btn btn-other btn-primary"><span aria-hidden="true" class="ng-value-icon left x"
                style="z-index: 199">×</span>{{a}}</button>
    </div>
    <div class="form-group">
        <label for="otherArea">Add any additional areas of expertise</label>
        <div class="input-group">
            <input type="text" style="max-width: 90%;" class="form-control" id="otherArea" name="otherArea"
                [(ngModel)]="otherAreaAdd">
            <span class="input-group-btn">
                <button type="button" class="btn btn-fab btn-round btn-primary" (click)="addOtherArea()">
                    <i class="fa fa-plus"></i>
                </button>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="applications">Domain expertise</label>
        <ng-select [items]="applications" [multiple]="true" appendTo="body" bindLabel="name" name="applications"
            placeholder="What domain(s) do you work in?" [(ngModel)]="model.applications">
        </ng-select>
    </div>
    <div style="display: inline" *ngFor="let a of model.otherApplications">
        <button class="btn btn-other btn-primary"><span aria-hidden="true" class="ng-value-icon left x"
                style="z-index: 199">×</span>{{a}}</button>
    </div>
    <div class="form-group">
        <label for="otherApp">List any other domain(s) you work in</label>
        <div class="input-group">
            <input type="text" style="max-width: 90%;" class="form-control" id="otherApp" name="otherApp"
                [(ngModel)]="otherAppAdd">
            <span class="input-group-btn">
                <button type="button" class="btn btn-fab btn-round btn-primary" (click)="addOtherApp()">
                    <i class="fa fa-plus"></i>
                </button>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label for="qualifications">Qualifications</label>
        <textarea class="form-control" id="qualifications" rows="3" name="qualifications"
            [(ngModel)]="model.qualifications"></textarea>
    </div>

    <div class="form-group">
        <label for="languages">Languages I feel confident presenting in</label>
        <ng-select [items]="languages" [multiple]="true" appendTo="body" name="languages"
            placeholder="Select languages..." [(ngModel)]="model.languages"></ng-select>
    </div>

    <div class="form-group">
        <label for="speakingExperience">List here any relevant speaking experience here…</label>
        <textarea type="text" class="form-control" id="speakingExperience" name="speakingExperience"
            [(ngModel)]="model.speakingExperience" rows="3"></textarea>
    </div>

    <div class="form-group">
        <label for="contact">I would like to be contacted via:</label>
        <div class="row">
            <div class="col-md-2">
                <div class="btn btn-social btn-just-icon btn-round btn-linkedin"
                    (click)="model.contactLinkedIn = !model.contactLinkedIn">
                    <i class="fab fa-linkedin"></i>
                </div>
            </div>
            <div class="col-md-2 pt-3">
                <div class="togglebutton">
                    <label class="form-check-label">
                        <input class="form-check-input" name="contactLinkedIn" id="contactLinkedIn" type="checkbox"
                            [checked]="model.contactLinkedIn" (change)="model.contactLinkedIn = !model.contactLinkedIn">
                        <span class="toggle">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
            </div>
            <div class="col-md-8">
                <div [hidden]="!model.contactLinkedIn" class="form-group">
                    <label for="linkedin">LinkedIn profile</label>
                    <input type="text" class="form-control" id="linkedin" name="linkedIn" [(ngModel)]="model.linkedIn">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="btn btn-social btn-just-icon btn-round btn-twitter"
                    (click)="model.contactTwitter = !model.contactTwitter">
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
            <div class="col-md-2 pt-3">
                <div class="togglebutton">
                    <label class="form-check-label">
                        <input class="form-check-input" name="contactTwitter" id="contactTwitter" type="checkbox"
                            [checked]="model.contactTwitter" (change)="model.contactTwitter = !model.contactTwitter">
                        <span class="toggle">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
            </div>
            <div class="col-md-8">
                <div [hidden]="!model.contactTwitter" class="form-group">
                    <label for="twitter">Twitter profile</label>
                    <input type="text" class="form-control" id="twitter" name="twitter" [(ngModel)]="model.twitter">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="btn btn-social btn-just-icon btn-round btn-envelope"
                    (click)="model.contactEmail = !model.contactEmail">
                    <i class="fa fa-envelope"></i>
                </div>
            </div>
            <div class="col-md-2 pt-3">
                <div class="togglebutton">
                    <label class="form-check-label">
                        <input class="form-check-input" name="contactEmail" id="contactEmail" type="checkbox"
                            [checked]="model.contactEmail" (change)="model.contactEmail = !model.contactEmail">
                        <span class="toggle">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
            </div>
            <div class="col-md-8">
                <div [hidden]="!model.contactEmail" class="form-group">
                    <label for="email"> Contact email
                    </label>
                    <input type="text" class="form-control" id="email" name="email" [(ngModel)]="model.email">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="picture">Profile Picture</label>
    </div>

    <div class="row">
        <div class="col-md-2">
            <img src="{{model.picture}}" alt="Profile Picture" class="img-raised rounded-circle img-fluid">
        </div>
        <div class="col-md-10">
            <input id="file-upload" type="file" class="btn btn-raised btn-round btn-primary btn-file"
                (change)="handleFileInput($event.target.files)" />
            <button type="button" class="btn btn-fab btn-round btn-danger" (click)="removeFile()">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>

    <div class="form-group text-center">
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="acceptedGDPR" [checked]="acceptedGDPR"
                    (change)="acceptedGDPR= !acceptedGDPR">
                I accept the Data privacy statement and Terms and conditions
                <span class="form-check-sign">
                    <span class="check"></span>
                </span>
            </label>
        </div>
    </div>
    <p class="description text-center text-danger"> {{errorGDPR}}</p>
    <p class="description text-center text-success"> {{savedTxt}}</p>
    <div class="footer text-center">
        <a href="#" class="btn btn-primary btn-round btn-wd btn-lg" (click)="saveData()">Save your data</a>
    </div>
    <div class="form-group"></div>
    <p class="description text-center"> You can delete your account and speakers profile. We will delete all your data
        you provided. Be careful! This action will log you out and all the data you have entered will be lost.</p>

    <div class="footer text-center">
        <a href="#" class="btn btn-danger btn-round btn-wd btn-sm" (click)="removeData()">Delete your account</a>
    </div>

</form>