<!-- <div class="footer text-right">
    <a href="#" class="btn btn-primary btn-round btn-wd btn-lg" (click)="logOut()">Log out</a>
</div> -->
<h2 class="title">Registration Form</h2>
<p class="description text-center text-danger"> {{errorGDPR}}</p>
<p class="description text-center text-success"> {{savedTxt}}</p>
<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model.name">
    </div>

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email"
            [(ngModel)]="model.email">
    </div>

    <div class="form-group">
        <label for="position">Position</label>
        <input type="text" class="form-control" id="position" name="position" [(ngModel)]="model.position">
    </div>

    <div class="form-group">
        <label for="qualifications">Qualifications</label>
        <textarea class="form-control" id="qualifications" rows="3" name="qualifications"
            [(ngModel)]="model.qualifications"></textarea>
    </div>


    <div class="row form-group">
        <div class="col-md-8">
            <label for="sector">Sector</label>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" name="sector" id="sector1" type="radio" value="Private Company"
                        [(ngModel)]="model.sector">
                    Private Company
                    <span class="circle">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" name="sector" id="sector2" type="radio"
                        value="Public sector / Government" [(ngModel)]="model.sector">
                    Public sector / Government
                    <span class="circle">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" name="sector" id="sector3" type="radio"
                        value="Non-governmental organisation (NGO) / Not-For-Profit organisation"
                        [(ngModel)]="model.sector">
                    Non-governmental organisation (NGO) / Not-For-Profit organisation
                    <span class="circle">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" name="sector" id="sector4" type="radio"
                        value="Self-employed / Consulting" [(ngModel)]="model.sector">
                    Self-employed / Consulting
                    <span class="circle">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" name="sector" id="sector5" type="radio"
                        value="University / Academia" [(ngModel)]="model.sector">
                    University / Academia
                    <span class="circle">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" name="sector" id="sector6" type="radio"
                        value="International organisation" [(ngModel)]="model.sector">
                    International organisation
                    <span class="circle">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <label for="experience">Experience</label>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" name="experience" id="experience1" type="radio" value="0 - 5 years"
                        [(ngModel)]="model.years">
                    0 - 5 years
                    <span class="circle">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" name="experience" id="experience2" type="radio" value="5 - 10 years"
                        [(ngModel)]="model.years">
                    5 - 10 years
                    <span class="circle">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" name="experience" id="experience3" type="radio"
                        value="10 - 20 years" [(ngModel)]="model.years">
                    10 - 20 years
                    <span class="circle">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" name="experience" id="experience4" type="radio" value="20 + years "
                        [(ngModel)]="model.years">
                    20 + years
                    <span class="circle">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="bio">Bio</label>
        <textarea class="form-control"
            placeholder="Be short, precise and try to explain your professional experience in one to two sentences."
            id="bio" rows="3" name="bio" [(ngModel)]="model.bio"></textarea>
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect1">Region</label>
        <ng-select [items]="region" [multiple]="false" appendTo="body" name="region" placeholder="Select region..."
            [(ngModel)]="model.region"></ng-select>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="country">Country</label>
                <input type="text" class="form-control" id="country" name="country" [(ngModel)]="model.country">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" name="city" [(ngModel)]="model.city">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="areas">Areas of expertise</label>
        <ng-select [items]="areas" [multiple]="true" appendTo="body" bindLabel="full" groupBy="group" name="areas"
            placeholder="Select areas..." [(ngModel)]="model.areas"></ng-select>
    </div>
    <div style="display: inline" *ngFor="let a of model.otherAreas">
        <button class="btn btn-other btn-primary"><span aria-hidden="true" class="ng-value-icon left x"
                style="z-index: 199">×</span>{{a}}</button>
    </div>
    <div class="form-group">
        <label for="otherArea">Add your area here if it is not in the list above</label>
        <div class="input-group">
            <input type="text" style="max-width: 90%;" class="form-control" id="otherArea" name="otherArea"
                [(ngModel)]="otherAreaAdd">
            <span class="input-group-btn">
                <button type="button" class="btn btn-fab btn-round btn-primary" (click)="addOtherArea()">
                    <i class="fa fa-plus"></i>
                </button>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="applications">Domain-specific geospatial applications</label>
        <ng-select [items]="applications" [multiple]="true" appendTo="body" bindLabel="name" name="applications"
            placeholder="Select domain-specific geospatial applications..." [(ngModel)]="model.applications">
        </ng-select>
    </div>
    <div style="display: inline" *ngFor="let a of model.otherApplications">
        <button class="btn btn-other btn-primary"><span aria-hidden="true" class="ng-value-icon left x"
                style="z-index: 199">×</span>{{a}}</button>
    </div>
    <div class="form-group">
        <label for="otherApp">Add your application here if it is not in the list above</label>
        <div class="input-group">
            <input type="text" style="max-width: 90%;" class="form-control" id="otherApp" name="otherApp"
                [(ngModel)]="otherAppAdd">
            <span class="input-group-btn">
                <button type="button" class="btn btn-fab btn-round btn-primary" (click)="addOtherApp()">
                    <i class="fa fa-plus"></i>
                </button>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label for="languages">Langauges I feel confident presenting in</label>
        <ng-select [items]="languages" [multiple]="true" appendTo="body" name="languages"
            placeholder="Select languages..." [(ngModel)]="model.languages"></ng-select>
    </div>

    <div class="form-group">
        <label for="position">Speaking Experience</label>
        <input type="text" class="form-control" id="position" name="position" [(ngModel)]="model.position">
    </div>

    <div class="form-group">
        <label for="contact">I would like to be contacted via:</label>
        <div class="row">
            <div class="col-md-2">
                <div class="btn btn-social btn-just-icon btn-round btn-linkedin"
                    (click)="model.contactLinkedIn = !model.contactLinkedIn">
                    <i class="fab fa-linkedin"></i>
                </div>
            </div>
            <div class="col-md-2 pt-3">
                <div class="togglebutton">
                    <label class="form-check-label">
                        <input class="form-check-input" name="contactLinkedIn" id="contactLinkedIn" type="checkbox"
                            [checked]="model.contactLinkedIn" (change)="model.contactLinkedIn = !model.contactLinkedIn">
                        <span class="toggle">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
            </div>
            <div class="col-md-8">
                <div [hidden]="!model.contactLinkedIn" class="form-group">
                    <label for="linkedin">LinkedIn profile</label>
                    <input type="text" class="form-control" id="linkedin" name="linkedIn" [(ngModel)]="model.linkedIn">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="btn btn-social btn-just-icon btn-round btn-twitter"
                    (click)="model.contactTwitter = !model.contactTwitter">
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
            <div class="col-md-2 pt-3">
                <div class="togglebutton">
                    <label class="form-check-label">
                        <input class="form-check-input" name="contactTwitter" id="contactTwitter" type="checkbox"
                            [checked]="model.contactTwitter" (change)="model.contactTwitter = !model.contactTwitter">
                        <span class="toggle">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
            </div>
            <div class="col-md-8">
                <div [hidden]="!model.contactTwitter" class="form-group">
                    <label for="twitter">Twitter profile</label>
                    <input type="text" class="form-control" id="twitter" name="twitter" [(ngModel)]="model.twitter">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="btn btn-social btn-just-icon btn-round btn-envelope"
                    (click)="model.contactEmail = !model.contactEmail">
                    <i class="fa fa-envelope"></i>
                </div>
            </div>
            <div class="col-md-2 pt-3">
                <div class="togglebutton">
                    <label class="form-check-label">
                        <input class="form-check-input" name="contactEmail" id="contactEmail" type="checkbox"
                            [checked]="model.contactEmail" (change)="model.contactEmail = !model.contactEmail">
                        <span class="toggle">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
            </div>
            <div class="col-md-8">
                <div [hidden]="!model.contactEmail" class="form-group">
                    <label for="email"> Contact email
                    </label>
                    <input type="text" class="form-control" id="email" name="email" [(ngModel)]="model.email">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="picture">Profile Picture</label>
    </div>

    <div class="row">
        <div class="col-md-2">
            <img src="{{model.picture}}" alt="Profile Picture" class="img-raised rounded-circle img-fluid">
        </div>
        <div class="col-md-10">
            <input id="file-upload" type="file" class="btn btn-raised btn-round btn-primary btn-file"
                (change)="handleFileInput($event.target.files)" />
            <button type="button" class="btn btn-fab btn-round btn-danger" (click)="removeFile()">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>

    <div class="form-group text-center">
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="acceptedGDPR" [checked]="acceptedGDPR"
                    (change)="acceptedGDPR= !acceptedGDPR">
                I accept GDPR statement and Terms and Conditions
                <span class="form-check-sign">
                    <span class="check"></span>
                </span>
            </label>
        </div>
    </div>
    <p class="description text-center text-danger"> {{errorGDPR}}</p>
    <p class="description text-center text-success"> {{savedTxt}}</p>
    <div class="footer text-center">
        <a href="#" class="btn btn-primary btn-round btn-wd btn-lg" (click)="saveData()">Save your data</a>
    </div>

    <p class="description text-center"> You can delete your account and your data. Careful! This action will log you out
        and you will lose your registration form.</p>

    <div class="footer text-center">
        <a href="#" class="btn btn-danger btn-round btn-wd btn-sm" (click)="removeData()">Delete all your data</a>
    </div>

</form>