<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg" color-on-scroll="100">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="https://floneinitiative.org/">
        <div class="logo-image">
          <img src="../assets/img/flone_red_logo.png" class="img-fluid">
        </div>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#" class="nav-link" routerLink="/speakers"> WiT+ Professionals</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" routerLink="/how"> How does it work?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
            href="https://twitter.com/FloneInitiative"
            target="_blank" data-original-title="Follow us on Twitter">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
            href="https://www.facebook.com/FloneInitiative"
            target="_blank" data-original-title="Follow us on Facebook">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
            href="https://www.instagram.com/flone_initiative/"
            target="_blank" data-original-title="Follow us on Instagram">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li class="nav-item" *ngIf="isUser">
          <a routerLink="/register" href="#" class="nav-link"> <i
              class="fas fa-user"></i> My Profile</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" [hidden]="isUser" href="#" class="nav-link"> <i class="fas fa-user"></i> Log In</a>
          <a routerLink="/login" [hidden]="!isUser" href="#" class="nav-link" (click)="logOut()"><i class="fas fa-sign-out-alt"></i> Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/bg-pic.png')">
  <!--  style="background-color: #86339A;"  -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand text-center">
          <h1 class="title">Women in Transport Database</h1>
          <h3 class="title text-center">Join a pool of Women In Transport professionals where you share your professional profile; 
            to help you find consultancies/ job offers/ speaking engagements. 

          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
<footer class="footer footer-default">
  <div class="container">
    <nav class="float-left">
      <ul>
        <li>
          &copy; 2021 Women in Transport Database
        </li>
      </ul>
    </nav>
    <div class="float-right">
      <a routerLink="/how">How does it work?</a>
      &nbsp;&nbsp;
      <a routerLink="/gdpr">Data privacy statement</a>
    </div>
  </div>
</footer>