.page-header {
    height: 80vh !important;
}

.logo-image {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
  }

/* .navbar a {
    color: white;
}
 */

 .title {
    font-family: Oswald;
    font-weight: 200;
 }