<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg" color-on-scroll="100">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="https://www.womeningeospatial.org">
        <div class="logo-image">
          <img src="../assets/img/logo.png" class="img-fluid">
        </div>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#" class="nav-link" (click)="why=!why"> Why a speakers
            database?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://twitter.com" target="_blank"
            data-original-title="Follow us on Twitter">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com"
            target="_blank" data-original-title="Like us on Facebook">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.instagram.com/"
            target="_blank" data-original-title="Follow us on Instagram">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li class="nav-item">
          <a [hidden]="isUser" href="#" class="nav-link" (click)="why=false"> <i class="fa fa-user"></i> Log In</a>
          <a [hidden]="!isUser" href="#" class="nav-link" (click)="logOut()"> <i class="fa fa-user"></i> Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/bg-pic.png')">
  <!--  style="background-color: #86339A;"  -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand text-center">
          <h1 class="title">Women in Geospatial+ Speakers Database</h1>
          <h3 class="title text-center">Be part of the Women in Geospatial+ speaker database! Register, speak up and
            embrace change!
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised" >
  <div [hidden]="isUser" *ngIf="!why">
    <app-login></app-login>
  </div>
  <div class="container">
    <div class="section text-center">
      <div class="row">
        <div class="col-md-10 ml-auto mr-auto" *ngIf="!why">
          <div [hidden]="!isUser">
            <app-register></app-register>
          </div>
        </div>
        <div class="col-md-8 ml-auto mr-auto text-justify" *ngIf="why">
          <h1> Why a speaker database? </h1>
          Let’s be realistic, geospatial conferences and events lack diversity. Not only in the composition of
          conference participants, but also in the set up of conference speakers and panel discussions, where we have
          still too often all-male panels (manels).
          <br>
          The common excuse of conference or event organiser is that they were unable to find any women+ speakers.
          <br>
          Well, with this speakers database, we want to help them and make it easier to find speakers of
          underrepresented genders. No organiser of a conference or a panel discussion in the geospatial field will be
          able to have the excuse that they were not able to find a woman+ speaker.
          <br>
          With more speakers of underrepresented genders at geospatial conferences and events, the geospatial field will
          benefit through more diverse perspectives, skills and talent.
          <br>
          <br>
          <h1> Why should you sign-up? </h1>
          It does not matter if you are a seasoned conference and event speaker or if you always wanted to speak at a
          conference or event but did not get the chance to do so. You are doing great things which you should share.
          The speaker database is your chance to show your availability as a speaker, to talk about the great things you
          are working on and to contribute to make geospatial conferences and events more diverse.
          <br><br>
          <h1>How does it work? </h1>
          The Women in Geospatial+ speaker database is realized in two steps:<br>
          Step 1: Registration phase (6 March - beginning of May 2020)<br>
          Step 2: Launch of the search platform (beginning of May 2020)<br>
          During Step 1 (6 March to beginning of May) we invite all women and underrepresented genders to register and
          create a speaker profile. During this period, only registrations will be open, but one cannot search yet for
          speakers.<br>
          During step 2, at the beginning of May, we will then launch the full speaker database.<br>
          <br>
          <h1>Some advice:</h1>
          All profile information, except for your name and email which will be required to create your account, are
          optional. However, conference organisers have usually a very specific idea on who they would like as a
          speaker. The more details you provide and the more you tailor your profile to you and your experiences, the
          more likely conference organisers might see you as a good fit and get in touch with you.
          <br>
          <div class="footer text-center">
            <a href="#" class="btn btn-primary btn-round btn-wd btn-lg" (click)="why=!why">Get Started</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer footer-default">
  <div class="container">
    <nav class="float-left">
      <ul>
        <li>
          &copy; Women in Geospatial+
        </li>
      </ul>
    </nav>
    <div class="float-right">
      <a href="#" (click)="why=!why"> Why a speakers database?</a>
    </div>
  </div>
</footer>