<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg" color-on-scroll="100">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="https://www.womeningeospatial.org">
        <div class="logo-image">
          <img src="../assets/img/logo.png" class="img-fluid">
        </div>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#" class="nav-link" (click)="why=!why"> How does it work?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
            href="https://www.google.com/url?q=https%3A%2F%2Ftwitter.com%2Fgeospatialwomen&sa=D&sntz=1&usg=AFQjCNFJiSofPUYfYkGYmDgg12VgmWrmow"
            target="_blank" data-original-title="Follow us on Twitter">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
            href="https://www.google.com/url?q=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fwomen-in-geospatial&sa=D&sntz=1&usg=AFQjCNGFALPE6qeQhnps98rMiuD99WQLYg"
            target="_blank" data-original-title="Follow us on LinkedIn">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
            href="https://www.google.com/url?q=https%3A%2F%2Fwww.redbubble.com%2Fpeople%2Fclearmappingco%2Fworks%2F39517764-women-in-geospatial-logo%3Fasc%3Du&sa=D&sntz=1&usg=AFQjCNECX3MjcY1-X4_bdrQz5OKfVwBYKw"
            target="_blank" data-original-title="Get your Women in Geospatial+ swag">
            <i class="fas fa-tshirt"></i>
          </a>
        </li>
        <li class="nav-item">
          <a [hidden]="isUser" href="#" class="nav-link" (click)="why=false"> <i class="fas fa-user"></i> Log In</a>
          <a [hidden]="!isUser" href="#" class="nav-link" (click)="logOut()"> <i class="fas fa-user"></i> Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/bg-pic.png')">
  <!--  style="background-color: #86339A;"  -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand text-center">
          <h1 class="title">Women in Geospatial+ Speakers Database</h1>
          <h3 class="title text-center">Be part of the Women in Geospatial+ speakers database! Register, speak up and
            embrace change!
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div [hidden]="isUser" *ngIf="!why && !terms">
    <app-login></app-login>
  </div>
  <div class="container">
    <div class="section text-center">
      <div class="row">
        <div class="col-md-10 ml-auto mr-auto" *ngIf="!why && ! terms">
          <div [hidden]="!isUser">
            <app-register></app-register>
          </div>
        </div>
        <div class="col-md-8 ml-auto mr-auto text-justify" *ngIf="why">
          <h2 class="text-center">How it works </h2>
          <br>
          <p class="text-center">Be part of the Women in Geospatial+ speaker database! Register, speak up and embrace
            change!</p>
          <br><br>
          Hi, <br>
          Welcome to the Women in Geospatial+ speaker database. You will find on this page information about the need
          for a
          speaker database, how it works and some advice on how to create a good speaker profile!
          <br> <br>
          <h3>Why a speaker database?</h3>
          In 2019, nearly two-thirds of overall event speakers around the world were male. The same pattern is reflected
          at
          geospatial conferences and events. We lack diversity in the composition of geospatial conference speakers and
          this is
          what we aim to change with this speaker database.
          <br><br>
          We want to see more people of underrepresented gender backgrounds sharing their expertise on stage. With more
          diverse
          speakers at geospatial conferences and events, the geospatial field will benefit through their wide ranging
          perspectives, skills and talent.
          <br><br>
          The common excuse of conference or event organisers is that they were unable to find any women+ speakers. In
          reality it
          is often the case that systemic challenges make it difficult for women to become speakers, especially if
          organisers have
          implicit biases that they are not aware of.
          <br><br>
          We want to encourage the industry to step up for diversity and bridge the gap by providing a the WiG+ speaker
          database.
          It is aimed at people from underrepresented gender backgrounds and for conference and events organisers alike.
          The
          speaker profiles will be made available in an easy-to-navigate and searchable database, which will make it
          easier for
          geospatial conference organisers to invite more women+ speakers.
          <br><br>
          Increasing the number of women+ speakers to geospatial conferences and events is just a first, but essential
          step.
          <h3>Who do we mean with ‘people from underrepresented gender backgrounds’?</h3>
          The speaker database is not only for women, but for all people from underrepresented gender backgrounds,
          including cis
          women, trans women, trans men, non-binary people and people who are otherwise marginalized. For this group, we
          use the
          terms ‘people from underrepresented gender backgrounds’ or ‘women+’. <br>
          <h3>Should I sign up? Yes, you should!</h3>
          Whether you are a seasoned conference and event speaker or a novice, we all have great pieces of work,
          experiences or
          advice we can share. A diverse community drives innovation and all ideas and perspectives count. <br>
          If you’ve always wanted to speak at a conference or are doing great things which you want to share, then
          sign-up today!
          <br><br>
          The speaker database is a chance to gather great talent and it is your chance to show your availability as a
          speaker, to
          talk about the great things you do and have done (big or small) and to contribute to make geospatial
          conferences and
          events more diverse. <br>
          It is your: register, speak up and embrace change! <br>
          <h3>How does it work?</h3>
          The Women in Geospatial+ speaker database will be launched in two phases:
          <br><br>
          <ul>
            <li>
              Phase 1 - Registration (from 6 March to beginning of May 2020): Women and underrepresented genders are
              invited to
              register and create a speaker profile. During this period, only registrations will be open, but one cannot
              search yet
              for speakers. This is because we want to build a significant cohort of speakers from a variety of
              geospatial fields
              before event organisers can search the database. <br> <br>
            </li>
            <li>
              Phase 2 - Launch (from beginning of May 2020): The full speaker database will be launched and publicised.
              Geospatial
              conference and event organisers will be invited to search the database for their next women+ speakers!
              Some advice for creating your speakers profile
              Only your name and email are mandatory fields in the database as this is required to create your account.
              All other
              profile information is optional. You can provide as much or as little information as you feel comfortable
              with.
              However, bear in mind that conference organisers usually have a very specific idea on who they would like
              as a speaker
              with regards to areas of expertise, or software used etc. The more details you provide and the more you
              tailor your
              profile to you and your expertise, the more likely conference organisers might see you as a good fit and
              get in touch
              with you.
            </li><br> <br>
          </ul>
          Register NOW! <br>
          Speak up and embrace change! <br>

          <br>
          <div class="footer text-center">
            <a href="#" class="btn btn-primary btn-round btn-wd btn-lg" (click)="why=!why">Get Started</a>
          </div>
        </div>
        <div class="col-md-8 ml-auto mr-auto text-justify" *ngIf="terms">
          <app-gdpr></app-gdpr>
          <div class="footer text-center">
            <a href="#" class="btn btn-primary btn-round btn-wd btn-lg" (click)="terms=!terms">Ok</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer footer-default">
  <div class="container">
    <nav class="float-left">
      <ul>
        <li>
          &copy; 2020 Women in Geospatial+
        </li>
      </ul>
    </nav>
    <div class="float-right">
      <a href="#" (click)="why=!why">How does it work?</a>
      &nbsp;&nbsp;
      <a href="#" (click)="terms=!terms">Data privacy statement</a>
    </div>
  </div>
</footer>