<div class="section text-justify">
    <div class="row">
        <div class="col-md-8 col-sm-12 ml-auto mr-auto">
            <h2>How it works </h2>
            <br>
            <p class="text-center">Be part of the Women in Geospatial+ speakers database! Register, speak up and embrace
                change!</p>
            <br><br>
            Hi, <br>
            Welcome to the Women in Geospatial+ speakers database. You will find on this page information about the need
            for a
            speakers database, how it works and some advice on how to create a good speaker profile!
            <br> <br>
            <h4>Why a speakers database?</h4>
            In 2019, nearly two-thirds of overall event speakers around the world were male. The same pattern is
            reflected
            at
            geospatial conferences and events. We lack diversity in the composition of geospatial conference speakers
            and
            this is
            what we aim to change with this speakers database.
            <br><br>
            We want to see more people of underrepresented gender backgrounds sharing their expertise on stage. With
            more
            diverse
            speakers at geospatial conferences and events, the geospatial field will benefit through their wide ranging
            perspectives, skills and talent.
            <br><br>
            The common excuse of conference or event organisers is that they were unable to find any women+ speakers. In
            reality it
            is often the case that systemic challenges make it difficult for women to become speakers, especially if
            organisers have
            implicit biases that they are not aware of.
            <br><br>
            We want to encourage the industry to step up for diversity and bridge the gap by providing the WiG+ speakers
            database.
            It is aimed at people from underrepresented gender backgrounds and for conference and events organisers
            alike.
            The
            speaker profiles will be made available in an easy-to-navigate and searchable database, which will make it
            easier for
            geospatial conference organisers to invite more women+ speakers.
            <br><br>
            Increasing the number of women+ speakers to geospatial conferences and events is just a first, but essential
            step.
            <h4>Who do we mean with ‘people from underrepresented gender backgrounds’?</h4>
            The speakers database is not only for women, but for all people from underrepresented gender backgrounds,
            including cis
            women, trans women, trans men, non-binary people and people who are otherwise marginalized. For this group,
            we
            use the
            terms ‘people from underrepresented gender backgrounds’ or ‘women+’. <br>
            <h4>Should I sign up? Yes, you should!</h4>
            Whether you are a seasoned conference and event speaker or a novice, we all have great pieces of work,
            experiences or
            advice we can share. A diverse community drives innovation and all ideas and perspectives count. <br>
            If you’ve always wanted to speak at a conference or are doing great things which you want to share, then
            sign-up today!
            <br><br>
            The speakers database is a chance to gather great talent and it is your chance to show your availability as a
            speaker, to
            talk about the great things you do and have done (big or small) and to contribute to make geospatial
            conferences and
            events more diverse. <br>
            It is your turn: register, speak up and embrace change! <br>
            <h4>How does it work?</h4>
            The Women in Geospatial+ speakers database will be launched in two phases:
            <br><br>
            <ul>
                <li>
                    Phase 1 - Registration (April to July): Women and underrepresented genders
                    are
                    invited to
                    register and create a speaker profile. During this period, only registrations will be open, but one
                    cannot
                    search yet
                    for speakers. This is because we want to build a significant cohort of speakers from a variety of
                    geospatial fields
                    before event organisers can search the database. <br> <br>
                </li>
                <li>
                    Phase 2 - Platform launch (July): The full speakers database will be launched and
                    publicised.
                    Geospatial
                    conference and event organisers will be invited to search the database for their next women+
                    speakers!
                </li><br> <br>
            </ul>
                    
                   <h4>Some advice for creating your speakers profile.</h4> 
                    Only your name and email are mandatory fields in the database as this is required to create your
                    account.
                    All other
                    profile information is optional. You can provide as much or as little information as you feel
                    comfortable
                    with.
                    However, bear in mind that conference organisers usually have a very specific idea on who they would
                    like
                    as a speaker
                    with regards to areas of expertise, or software used etc. The more details you provide and the more
                    you
                    tailor your
                    profile to you and your expertise, the more likely conference organisers might see you as a good fit
                    and
                    get in touch
                    with you.
                    <br><br>
            Register NOW! <br>
            Speak up and embrace change! <br>

            <br>
            <div class="footer text-center">
                <a href="#" class="btn btn-primary btn-round btn-wd btn-lg" routerLink="/login" >Get Started</a>
            </div>
        </div>
    </div>
</div>