<div class="section text-justify">
    <div class="row">
        <div class="col-md-8 col-sm-12 ml-auto mr-auto">
            <h2>A. How It Works </h2>
            <br>
            <p class="text-center">Join a pool of Women In Transport professionals where you share your professional profile; 
                to help you find consultancies/ job offers/ speaking engagements. 
            </p>
            <br><br>
           
            <h4>Why Showcase your Professional Profile?</h4>
            We are a women-led Pan-African organization working towards creating safe, sustainable, and accessible public 
            transportation spaces for women and vulnerable groups in Africa by influencing behavioral change, generating 
            knowledge, and movement-building.

            <br><br>
            The transport sector remains a male-dominated industry. Flone Initiative is determined to attract, retain and 
            advance female professionals in the industry. By having women actively engage in the transport sector, they stand 
            better chances of influencing decision-making on matters of interest 
            to them and other women affected directly or indirectly. The platform shall grant women a platform to showcase
             their skill set in a more accessible location by potential employers and service providers. 

          
           
        
            <h4>Get Noticed!</h4>
            You shall be easily noticed whenever there is an opportunity that matches your skills set. The platform offers an excellent
            opportunity for potential recruiters to access your profile and contact you quickly.
 <br>
            <h4>B. Report Fraud</h4>
            If you notice any form of fraud or harassment, fraud or scam, kindly report to us via
            <i>communications@floneinitiative.org</i>. We shall delete the candidate/company profile and block 
            them from registering in the future.
             Therefore, kindly conduct due diligence before committing to any service provider or job seeker. 

            
            <h4>Women In transport service Providers</h4>
            You shall get the opportunity to showcase your work and products,
             advertise opportunities, and source the best talent from the database.
           

            <br>
            <div class="footer text-center">
                <a href="#" class="btn btn-primary btn-round btn-wd btn-lg" routerLink="/login" >Get Started</a>
            </div>
        </div>
    </div>
</div>